[submodule "src/vendor/libdeflate"]
	path = src/vendor/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "src/vendor/MigroGD"]
	path = src/vendor/MigroGD
	url = https://github.com/richgrov/MicroGD.git
[submodule "example/glm"]
	path = example/glm
	url = https://github.com/g-truc/glm.git
