[submodule "src/vendor/libdeflate"]
	path = src/vendor/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "src/vendor/MigroGD"]
	path = src/vendor/MigroGD
	url = https://github.com/richgrov/MicroGD.git
[submodule "src/godot/godot-cpp"]
	path = src/godot/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
