*.png filter=lfs diff=lfs merge=lfs -text
/src/vendor/* linguist-vendored
res/*.ttf filter=lfs diff=lfs merge=lfs -text
res/sfx/*.mp3 filter=lfs diff=lfs merge=lfs -text
.github/logo.svg filter=lfs diff=lfs merge=lfs -text
